In [3]:
import pandas as pd

In [5]:
df=pd.read_csv('C:/Users/abhay.manhas/Downloads/StockData.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23674 entries, 0 to 23673
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    23674 non-null  object
 1   Symbol  23674 non-null  object
 2   Open    23674 non-null  float64
 3   High    23674 non-null  float64
 4   Low     23674 non-null  float64
 5   Close   23674 non-null  float64
 6   Volume  23674 non-null  float64
dtypes: float64(5), object(2)
memory usage: 1.3+ MB

In [11]:
df['Date'] =pd.to_datetime(df['Date'],format='%Y-%m-%d %I-%p')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23674 entries, 0 to 23673
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    23674 non-null  datetime64[ns]
 1   Symbol  23674 non-null  object
 2   Open    23674 non-null  float64
 3   High    23674 non-null  float64
 4   Low     23674 non-null  float64
 5   Close   23674 non-null  float64
 6   Volume  23674 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 1.3+ MB

In [19]:
df.loc[606]['Date'].day_name()

'Monday'

In [21]:
df['Date'].dt.day_name()

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
23669    Saturday
23670    Saturday
23671    Saturday
23672    Saturday
23673    Saturday
Name: Date, Length: 23674, dtype: object

In [25]:
df['Date'].dt.month_name()

0        March
1        March
2        March
3        March
4        March
         ...
23669     July
23670     July
23671     July
23672     July
23673     July
Name: Date, Length: 23674, dtype: object

In [35]:
df['DayOfWeek']=df['Date'].dt.day_name()

In [37]:
df['Date'].max() -df['Date'].min()

Timedelta('986 days 09:00:00')

In [39]:
fil=df[((df['Date']>=pd.to_datetime('2018')) & (df['Date']>=pd.to_datetime('2018')))]

In [41]:
df.set_index('Date',inplace=True)

In [59]:
df.sort_index().loc['2019-01-01':'2019-02-01']

,Symbol,Open,High,Low,Close,Volume,DayOfWeek
Date,,,,,,,
2019-01-01 00:00:00,ETHUSD,130.53,131.91,130.48,131.62,1067136.21,Tuesday
2019-01-01 01:00:00,ETHUSD,131.62,131.62,130.77,130.79,434917.99,Tuesday
2019-01-01 02:00:00,ETHUSD,130.79,130.88,129.55,130.06,838183.43,Tuesday
2019-01-01 03:00:00,ETHUSD,130.06,130.79,130.06,130.75,503732.63,Tuesday
2019-01-01 04:00:00,ETHUSD,130.75,133.96,130.74,131.96,2791135.37,Tuesday
...,...,...,...,...,...,...,...
2019-02-01 19:00:00,ETHUSD,105.85,106.40,105.69,105.73,510819.68,Friday
2019-02-01 20:00:00,ETHUSD,105.73,106.42,105.73,106.20,437254.85,Friday
2019-02-01 21:00:00,ETHUSD,106.20,106.40,105.86,106.39,312083.13,Friday
2019-02-01 22:00:00,ETHUSD,106.39,106.60,106.27,106.35,520776.36,Friday
2019-02-01 23:00:00,ETHUSD,106.35,107.69,105.83,105.88,1130189.62,Friday

In [63]:
df['Month'] = df['Date'].dt.strftime('%B')
df

KeyError: 'Date'