In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('C:/Users/abhay.manhas/Downloads/Flavor_Rating.csv')

In [4]:
df.groupby('Liked')[['Flavor Rating', 'Texture Rating', 'Total Rating']].mean()

       Flavor Rating  Texture Rating  Total Rating
Liked
No               3.6        4.466667      8.066667
Yes              8.1        7.033333     15.166667

In [5]:
df.groupby(['Base Flavor']).agg({'Flavor Rating':['mean','min','max'],'Texture Rating':['mean','min','max'],'Total Rating':['mean','min','max']})

            Flavor Rating            Texture Rating           Total Rating  \
                     mean  min   max           mean  min  max         mean
Base Flavor
Chocolate             8.4  8.2   8.8       7.233333  7.0  7.6        15.70
Vanilla               5.7  2.3  10.0       5.650000  3.4  8.0        11.35


              min   max
Base Flavor
Chocolate    15.2  16.6
Vanilla       5.7  18.0